*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100vw;
    /* overflow-x: hidden; */
}

@font-face {
    font-family: fre;
    src: url(Fonts/Freudian\ One\ Demo.ttf);
}

@font-face {
    font-family: Rashford;
    src: url(Fonts/ROSEFORD\ DEMO.ttf);
}

.main{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* background-color: #de4953; */
}

.main-nav{
    position: fixed;
    z-index: 99;
}

.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-con{
    height: 100%;
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
}

.left-navbar{
    height: 100%;
    width: 47.5%;
    border-bottom: 1px solid #f8f7e5;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.right-navbar{
    height: 100%;
    width: 47.5%;
    border-bottom: 1px solid #f8f7e5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    padding-right: 10px;
}

.logo{
    width: 7%;
    margin-top: 50px;
}

.logo img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link a{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    font-weight: 400;
    font-family: fre;
}

.network{
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

.network a{
    text-decoration: none;
    color: #fff;
    font-family: fre;
    font-weight: 600;
}

.btn a{
    font-size: 16px;
    font-family: fre;
    font-weight: 100;
    color: #000;
    text-decoration: none;
    border-radius: 50px;
    padding: .575vw 1.5625vw .575vw 1.5625vw;
    background-color: #7ECF86;
}

.cart{
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    cursor: pointer;
}

.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger p{
    font-size: 15px;
    font-family: fre;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.hamburger i{
    font-size: 35px;
    color: #fff;
    font-weight: 100;
}

/* .english p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 16px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
} */

.lannding-page{
    height: 150vh;
    /* background-color: #de4953; */
    background-image: radial-gradient(#f1f1f1, #F15A5E, #EA303D);
    width: 100%;
}

.img img{
    position: relative;
    top: 50%;
    left: 49%;
    transform: translate(-50%,75%);
    width: 350px;
    z-index: 97;
}

.heading{
    margin-top: -50vh; 
    /* padding-left: 4vw; */
}

.heading h1{
    font-size: 100px;
    font-family: fre;
    position: relative;
    z-index: 0;
    line-height: 70px;
    color: #fff;
    font-weight: 200;
    text-align: center;
    text-shadow: 2px 10px #161616;
}

.thirdline h1{
    color: #7ECF86;
    position: relative;
    z-index: 98;
    text-shadow: none;
}

.bottom-border{
    height: auto;
    width: 35vw;
    padding-top: 20px;
    margin: auto;
    margin-top: 20px;
    border-top: 1px solid #fff;
    /* background-color: red; */
}

.bottom-border h1{
    font-size: 30px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
    position: relative;
    z-index: 99;
    text-align: center;
}

.arrow{
    height: auto;
    width: 100%;
    display: flex;
}

.leftarrow{
    height: auto;
    display: flex;
    width: 50%;
    padding-left: 20px;
    align-items: center;
    justify-content: flex-start;
    /* background-color: yellow; */
}

.leftarrow p{
    font-size: 20px;
    margin-top: 20px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
}

.leftarrow img{
    height: 80px;
    display: flex;
    align-items: center;
}

.rightarrow{
    height: auto;
    display: flex;
    width: 50%;
    padding-right: 20px;
    align-items: center;
    justify-content: flex-end;
    /* background-color: yellow; */
}

.rightarrow p{
    font-size: 20px;
    margin-top: 20px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
}

.rightarrow img{
    height: 80px;
    display: flex;
    align-items: center;
}

.rounded-txt{
    width: 120px;
    top: 40%;
    left: 10%;
    position: relative;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-txt p{
    position: absolute;
    height: 100%;
    width: 100%;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.rounded-txt span{
    position: absolute;
    left: 50%;
    font-size: 0.9em;
    font-weight: 200;
    color: #fff;
    font-family: fre;
    transform-origin:0px 60px;
}

.rounded-txt i{
    font-size: 30px;
    color: #fff;
    font-weight: 100;
}


.page2{
    height: 100%;
    width: 100vw;
    position: relative;
}

.strawberry{
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 7vh;
    background-image: linear-gradient(#F25B60,#D73C48,#D43643);
    position: absolute;
    z-index: 99;

}

.grape{
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 7vh;
    background-image: linear-gradient(#8E73B5,#55328F,#45237D);
    position: absolute;
    z-index: 98;
}

.orange{
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 7vh;
    background-image: linear-gradient(#E47E5B,#DB6637,#E16B37);
    position: absolute;
    z-index: 97;
}

.pineapple{
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 7vh;
    background-image: linear-gradient(#F7DCBC,#DEA967,#D2A160);
    position: absolute;
    z-index: 96;
}

.leftside{
    height: 100%;
    width:30%;
    text-align: end;
}

.ornage-leftside{
    height: 100%;
    width:30%;
    text-align: end;
}

.grape-leftside{
    height: 100%;
    width:30%;
    text-align: end;
}

.pineapple-leftside{
    height: 100%;
    width:30%;
    text-align: end;
}

.discover{
    padding-top: 2vh;
}

.grape-discover{
    padding-top: 2vh;
}

.orange-dicover{
    padding-top: 2vh;
}

.pineapple-discover{
    padding-top: 2vh;
}

.discover p{
    font-size: 23px;
    font-family: fre;
    color: #fff;
}

.grape-discover p{
    font-size: 23px;
    font-family: fre;
    color: #fff;
}

.orange-dicover p{
    font-size: 23px;
    font-family: fre;
    color: #fff;
}

.pineapple-discover p{
    font-size: 23px;
    font-family: fre;
    color: #fff;
}

.flavour{
    padding-top: 5vh;
}

.grape-flavour{
    padding-top: 5vh;
}

.orange-flavour{
    padding-top: 5vh;
}

.pineapple-flavour{
    padding-top: 5vh;
}

.flavour h1{
    font-size: 40px;
    font-family: Rashford;
    color: #0f0f0f;
}

.grape-flavour h1{
    font-size: 40px;
    font-family: Rashford;
    color: #0f0f0f;
}

.orange-flavour h1{
    font-size: 40px;
    font-family: Rashford;
    color: #0f0f0f;
}

.pineapple-flavour h1{
    font-size: 40px;
    font-family: Rashford;
    color: #0f0f0f;
}

.flavour h3{
    font-size: 23px;
    font-family: fre;
    color: #fff;
    font-weight: 200;
    padding-top: 5vh;
}

.grape-flavour h3{
    font-size: 23px;
    font-family: fre;
    color: #fff;
    font-weight: 200;
    padding-top: 5vh;
}

.orange-flavour h3{
    font-size: 23px;
    font-family: fre;
    color: #fff;
    font-weight: 200;
    padding-top: 5vh;
}

.pineapple-flavour h3{
    font-size: 23px;
    font-family: fre;
    color: #fff;
    font-weight: 200;
    padding-top: 5vh;
}

.ingrediants{
    margin-top: 25vh;
}

.grape-ingrediants{
    margin-top: 25vh;
}

.orange-ingrediants{
    margin-top: 25vh;
}

.pineapple-ingrediants{
    margin-top: 25vh;
}

.ingrediants p{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
}

.grape-ingrediants p{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
}

.orange-ingrediants p{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
}

.pineapple-ingrediants p{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
}

.ingrediants h3{
    font-size: 16px;
    font-family: Rashford;
    color: #010101;
    font-weight: 400;
}

.grape-ingrediants h3{
    font-size: 16px;
    font-family: Rashford;
    color: #010101;
    font-weight: 400;
}

.orange-ingrediants h3{
    font-size: 16px;
    font-family: Rashford;
    color: #010101;
    font-weight: 400;
}

.pineapple-ingrediants h3{
    font-size: 16px;
    font-family: Rashford;
    color: #010101;
    font-weight: 400;
}

.middle{
    width: 30%;
    height: 100%;
    padding-left: 2vw;
    margin-left: 7vw;
}

.grape-middle{
    width: 30%;
    height: 100%;
    padding-left: 2vw;
    margin-left: 7vw;
}

.orange-middle{
    width: 30%;
    height: 100%;
    padding-left: 2vw;
    margin-left: 7vw;
}

.pineapple-middle{
    width: 30%;
    height: 100%;
    padding-left: 2vw;
    margin-left: 7vw;
}

.heading-p{
    padding-top: 2vh;
    width: 90%;
}

.grape-heading-p{
    padding-top: 2vh;
    width: 90%;
}

.orange-heading-p{
    padding-top: 2vh;
    width: 90%;
}

.pineapple-heading-p{
    padding-top: 2vh;
    width: 90%;
}

.heading-p p{
    font-size: 25px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
}

.grape-heading-p p{
    font-size: 25px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
}

.orange-heading-p p{
    font-size: 25px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
}

.pineapple-heading-p p{
    font-size: 25px;
    font-family: fre;
    font-weight: 400;
    color: #fff;
}

.heading-p h4{
    margin-top: 3vh;
    font-size: 15px;
    font-family: Rashford;
    font-weight: 400;
    color: #010101;
}

.grape-heading-p h4{
    margin-top: 3vh;
    font-size: 15px;
    font-family: Rashford;
    font-weight: 400;
    color: #010101;
}

.orange-heading-p h4{
    margin-top: 3vh;
    font-size: 15px;
    font-family: Rashford;
    font-weight: 400;
    color: #010101;
}

.pineapple-heading-p h4{
    margin-top: 3vh;
    font-size: 15px;
    font-family: Rashford;
    font-weight: 400;
    color: #010101;
}

.heading-p span{
    color: #7ECF86;
}

.grape-heading-p span{
    color: #7ECF86;
}

.ornage-heading-p span{
    color: #7ECF86;
}

.pineapple-heading-p span{
    color: #7ECF86;
}

.extra-info{
    margin-top: 20vh;
    height: 200px;
    width: 200px;
    /* background-color: black; */
}

.garpe-extra-info{
    margin-top: 20vh;
    height: 200px;
    width: 200px;
}

.orange-extra-info{
    margin-top: 20vh;
    height: 200px;
    width: 200px;
}

.pineapple-extra-info{
    margin-top: 20vh;
    height: 200px;
    width: 200px;
    /* background-color: black; */
}

.first-info{
    height: 50%;
    width: 100%;
    border-top: 1.5px dotted #f8f7e5;
    border-bottom: 1.5px dotted #f8f7e5;
    display: flex;
    align-items: center;
}

.grape-first-info{
    height: 50%;
    width: 100%;
    border-top: 1.5px dotted #f8f7e5;
    border-bottom: 1.5px dotted #f8f7e5;
    display: flex;
    align-items: center;
}

.orange-first-info{
    height: 50%;
    width: 100%;
    border-top: 1.5px dotted #f8f7e5;
    border-bottom: 1.5px dotted #f8f7e5;
    display: flex;
    align-items: center;
}

.pineapple-first-info{
    height: 50%;
    width: 100%;
    border-top: 1.5px dotted #f8f7e5;
    border-bottom: 1.5px dotted #f8f7e5;
    display: flex;
    align-items: center;
}

.calorie{
    height: 80%;
    width: 50%;
    border-right: 1px solid #f1f1f1;
}

.grape-calorie{
    height: 80%;
    width: 50%;
    border-right: 1px solid #f1f1f1;
}

.orange-calorie{
    height: 80%;
    width: 50%;
    border-right: 1px solid #f1f1f1;
}

.pineapple-calorie{
    height: 80%;
    width: 50%;
    border-right: 1px solid #f1f1f1;
}

.calorie p{
    font-size: 17px;
    font-family: fre;
    color: #fff;
    font-weight: 400;
}

.grape-calorie p{
    font-size: 17px;
    font-family: fre;
    color: #fff;
    font-weight: 400;
}

.orange-calorie p{
    font-size: 17px;
    font-family: fre;
    color: #fff;
    font-weight: 400;
}

.pineapple-calorie p{
    font-size: 17px;
    font-family: fre;
    color: #fff;
    font-weight: 400;
}

.calorie h4{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #0f0f0f;
    margin-top: 15px;
}

.grape-calorie h4{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #0f0f0f;
    margin-top: 15px;
}

.orange-calorie h4{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #0f0f0f;
    margin-top: 15px;
}

.pineapple-calorie h4{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #0f0f0f;
    margin-top: 15px;
}

.price{
    height: 80%;
    width: 50%;
    padding-left: 20px;
}

.grape-price{
    height: 80%;
    width: 50%;
    padding-left: 20px;
}

.orange-price{
    height: 80%;
    width: 50%;
    padding-left: 20px;
}

.pineapple-price{
    height: 80%;
    width: 50%;
    padding-left: 20px;
}

.price p{
    font-size: 18px;
    font-family: fre;
    color: #fff;
    font-weight: 400;
}

.grape-price p{
    font-size: 18px;
    font-family: fre;
    color: #fff;
    font-weight: 400;
}

.orange-price p{
    font-size: 18px;
    font-family: fre;
    color: #fff;
    font-weight: 400;
}

.pineapple-price p{
    font-size: 18px;
    font-family: fre;
    color: #fff;
    font-weight: 400;
}

.price h4{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #0f0f0f;
    margin-top: 15px;
}

.grape-price h4{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #0f0f0f;
    margin-top: 15px;
}

.orange-price h4{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #0f0f0f;
    margin-top: 15px;
}

.pineapple-price h4{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    color: #0f0f0f;
    margin-top: 15px;
}

.dicover-btn a{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    text-decoration: none;
    color: #0f0f0f;
    padding: 15px 20px;
    background-color: #7ECF86;
    border-radius: 50px;
}

.grape-dicover-btn a{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    text-decoration: none;
    color: #0f0f0f;
    padding: 15px 20px;
    background-color: #7ECF86;
    border-radius: 50px;
}

.orange-dicover-btn a{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    text-decoration: none;
    color: #0f0f0f;
    padding: 15px 20px;
    background-color: #7ECF86;
    border-radius: 50px;
}

.pineapple-dicover-btn a{
    font-size: 20px;
    font-family: fre;
    font-weight: 400;
    text-decoration: none;
    color: #0f0f0f;
    padding: 15px 20px;
    background-color: #7ECF86;
    border-radius: 50px;
}

.right{
    width: 40%;
}

.grape-right{
    width: 40%;
}

.orange-right{
    width: 40%;
}

.pineapple-right{
    width: 40%;
}

.main-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grape-main-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-main-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pineapple-main-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-con{
    height: 450px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1.5px dotted #f8f7e5;
}

.grape-img-con{
    height: 450px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1.5px dotted #f8f7e5;
}

.orange-img-con{
    height: 450px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1.5px dotted #f8f7e5;
}

.pineapple-img-con{
    height: 450px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1.5px dotted #f8f7e5;
}

.img2{
    height: 430px;
    width: 230px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #f8f7e5;
}

.grape-img2{
    height: 430px;
    width: 230px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #f8f7e5;
}

.orange-img2{
    height: 430px;
    width: 230px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #f8f7e5;
}

.pineapple-img2{
    height: 430px;
    width: 230px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #f8f7e5;
}

.img2 img{
    height: 400px;
    width: auto;
}

.grape-img2 img{
    height: 400px;
    width: auto;
}

.orange-img2 img{
    height: 400px;
    width: auto;
}

.pineapple-img2 img{
    height: 400px;
    width: auto;
}

.nest-prev{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
}

.grape-nest-prev{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
}

.orange-nest-prev{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
}

.pineapple-nest-prev{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
}

.next-btn a{
    text-decoration: none;
    color: #f8f7e5;
    font-size: 20px;
    padding: 7px 7px;
    border-radius: 50%;
    border: 1.5px solid #f8f7e5;
}

.grape-next-btn a{
    text-decoration: none;
    color: #f8f7e5;
    font-size: 20px;
    padding: 7px 7px;
    border-radius: 50%;
    border: 1.5px solid #f8f7e5;
}

.orange-next-btn a{
    text-decoration: none;
    color: #f8f7e5;
    font-size: 20px;
    padding: 7px 7px;
    border-radius: 50%;
    border: 1.5px solid #f8f7e5;
}

.pineapple-next-btn a{
    text-decoration: none;
    color: #f8f7e5;
    font-size: 20px;
    padding: 7px 7px;
    border-radius: 50%;
    border: 1.5px solid #f8f7e5;
}

.prev-btn a{
    text-decoration: none;
    color: #f8f7e5;
    font-size: 20px;
    padding: 7px 7px;
    border-radius: 50%;
    border: 1.5px solid #f8f7e5;
}

.grape-prev-btn a{
    text-decoration: none;
    color: #f8f7e5;
    font-size: 20px;
    padding: 7px 7px;
    border-radius: 50%;
    border: 1.5px solid #f8f7e5;
}

.orange-prev-btn a{
    text-decoration: none;
    color: #f8f7e5;
    font-size: 20px;
    padding: 7px 7px;
    border-radius: 50%;
    border: 1.5px solid #f8f7e5;
}

.pineapple-prev-btn a{
    text-decoration: none;
    color: #f8f7e5;
    font-size: 20px;
    padding: 7px 7px;
    border-radius: 50%;
    border: 1.5px solid #f8f7e5;
}

.pages p{
    font-size: 15px;
    font-family: fre;
    font-weight: 400;
    color: #f8f7e5;
    display: flex;
    margin-top: -3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.grape-pages p{
    font-size: 15px;
    font-family: fre;
    font-weight: 400;
    color: #f8f7e5;
    display: flex;
    margin-top: -3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.orange-pages p{
    font-size: 15px;
    font-family: fre;
    font-weight: 400;
    color: #f8f7e5;
    display: flex;
    margin-top: -3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.pineapple-pages p{
    font-size: 15px;
    font-family: fre;
    font-weight: 400;
    color: #f8f7e5;
    display: flex;
    margin-top: -3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.middle-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grape-middle-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.orange-middle-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pineapple-middle-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name h3{
    font-size: 25px;
    font-family: Rashford;
    color: #161616;
}

.grape-name h3{
    font-size: 25px;
    font-family: Rashford;
    color: #161616;
}

.orange-name h3{
    font-size: 25px;
    font-family: Rashford;
    color: #161616;
}

.pineapple-name h3{
    font-size: 25px;
    font-family: Rashford;
    color: #161616;
}

